 @import url(style.css);


 .mentions {
     margin-top: 100px;
     margin-bottom: 100px;
     display: flex;
     flex-flow: column;
     justify-content: space-around;
     align-items: center;
 }

 .mentions p {
     margin: 60px;
     text-align: justify;
     font-family: 'Roboto';
     font-size: 1.2em;
 }
