@import url(reset.css);
@import url(fonts.css);
html, body {
  width: 100%;
  background: #fefefe;
  scrollbar-color: #000;
}

h1 {
  font-family: 'Roboto';
  font-size: 3.2em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #fefefe;
  background: #f66717;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 0 0 10px 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 3;
}

header .logo img {
  width: 100px;
  height: 50px;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
nav ul li {
  height: 100%;
  list-style: none;
  margin: 10px;
}



nav ul li a {
  width: 100%;
  height: 100%;
  font-family: 'Roboto';
  font-size: 1.2em;
  text-decoration: none;
  text-transform: uppercase;
  color:chocolate;
}

nav ul li.active a {
  background: #119292;
  color: #fefefe;
  padding: 50px;
  border-radius: 0 0 10px 10px;
  font-weight: 800;
}



.panier {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: black;
  font-family: "Roboto";
  font-weight: 900;
  margin: 10px;
}

.panier-img img {
  width: 25px;
  height: 25px;
  margin: 25px;
}

.panier-content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

/***********************************/
/*              HERO               */
/***********************************/

.hero {
  width: 100%;
  height: auto;
}

.hero img {
  width: 100%;
  height: auto;
}


.hero-cta button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  background: rgba(22, 245, 244, .7);
  border: 3px solid rgb(17, 146, 146);
  border-radius: 5px;
  cursor: pointer;
  transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hero-cta button:hover {
  background: rgb(17, 146, 146);
  border: 3px solid rgba(22, 245, 244, .7);
}

.hero-cta button span {
  font-family: 'Roboto';
  font-size: 2em;
  text-transform: uppercase;
  color: #fefefe;
}


/***********************************/
/*             Articles            */
/***********************************/

.section-title{
  margin-top: 20px;
  display: flex;
  flex-flow: column;
  width: 50%;
}

h2 {
  padding: 20px;
  font-size: 3rem;
  font-family: 'Roboto';
  text-align: center;
  text-transform: uppercase;
  color: #fefefe;
  letter-spacing: 5px;
  background: rgb(17, 146, 146);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 0 10px 10px 0;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.items {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

.item {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 70px;
  margin: 25px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 1;
}

.item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.item-img img {
  width: 150px;
  height: 200px;
}

.item-desc {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.item-desc span {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-size: 1.2em;
  color: #292929;
}

.item-desc-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item-desc-link a{
  margin: 10px;
}

.item-desc-link a img {
  width: 25px;
  height: 25px;
}

footer {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

footer .left,
footer .right{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

footer .left a,
footer .right a {
    margin: 5px;
    color: #292929;
    font-size: 1.2em;
    font-family: 'Roboto';
    font-weight: 200;
    text-decoration: none;
    text-transform: uppercase;
}

footer .left a:hover,
footer .right a:hover {
    color: #f66717;
}

footer .middle {
  padding-top: 15px;
}

footer .middle span {
  color: #292929;
  font-size: 1.2em;
  font-family: "Roboto";
}

footer .social {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

footer .social img {
  width: 50px;
  height: 50px;
  margin: 10px;
}
@media screen and (max-width: 900px) {
  footer {
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
  }
  footer .left {
    flex-flow: column;
    justify-content: space-around;
    align-items: flex-start;
  }
}